<h1>Inventory Management App</h1>
<div class="index-img">
  <img src="http://2.bp.blogspot.com/-ezHu6hpIDwQ/VTm6PQSWi7I/AAAAAAAAAA8/_lAUIm6U02w/s1600/BODEGA.jpg" alt="">
  <section id="section1">
    <p>Inventory Management App es una aplicación que te permite administrar tus activos fijos o bienes tangibles de manera integral, cubriendo el proceso de compra - venta de manear completa.
    </p>
    <br>

  </section>

  <section id="section2">
    <form class="form-background" id="form" action="/index" method="POST">
  
      <label class="label" for="username">Usuario</label>
      <div class="control">
        <input class="input" type="text" name="username">
      </div>
    
      <label class="label" for="password">Contraseña</label>
      <div class="control">
        <input class="input" type="password" name="password">
      </div>

      <br>
      <input class="button is-primary" type="submit" value="Inicia Sesión">
      <a class="button is-info" href="/signin">Crear Usuario</a>
    
    </form>
  </section>
</div>