<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inventory Management App</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
</head>

<body>

  <main>
    <ul>
      <li><a href="/about">Información</li></a>
      <li><a href="">Login</li></a>
      <li><a href="/perfil">Perfil</li></a>
      <li><a href="/">Home</li></a>
    </ul>
  </main>

  {{{body}}}

  <footer>
    <p>Inventory Management App</p>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
  <script src="javascripts/script.js"></script>
</body>

</html>