<form class="form-background" action="/productos" method="POST">
  <label class="label" for="productName">Nombre</label>
  <div class="control">
    <input class="input" type="text" name="productName" placeholder="Introduzca el nombre del producto">
  </div>
  <br>
  <br>
  <label class="label" for="productSpecification">Especificación</label>
  <div class="control">
    <input class="input" type="text" name="productSpecification"
      placeholder="Introduzca las especificaciones del producto (e.g. polvo fino de color blanco)">
  </div>
  <br>
  <br>
  <label class="label" for="productCode">Código</label>
  <div class="control">
    <input class="input" type="text" name="productCode"
      placeholder="Introduzca un código alfanumérico de reconocimiento para el producto)">
  </div>
  <br>
  <br>
  <label class="label" for="productUnitMeasurement">Unidad de Medida</label>
  <div class="control">
    <input class="input" type="text" name="productUnitMeasurement"
      placeholder="Introduzca la unidad de medida del producto (e.g. kg, l o g)">
  </div>
  <br>
  <br>
  <label class="label" for="productCurrency">Moneda</label>
  <div class="control">
    <input class="input" type="text" name="productCurrency"
      placeholder="Introduzca la moneda en la que se comercializa generalmente el producto">
  </div>
  <br>
  <br>
  <label class="label" for="productPackage">Empaque</label>
  <div class="control">
    <input class="input" type="text" name="productPackage" placeholder="Introduzca el tipo de empaque del producto">
  </div>
  <br>
  <br>
  <label class="label" or="productPresentation">Presentación</label>
  <div class="control">
    <input class="input" type="text" name="productPresentation"
      placeholder="Cantidad (en la unidad de medida) / Empaque">
  </div>
  <br>
  <br>
  <label class="label" or="productDimensions">Dimensiones de la Presentación</label>
  <div class="control">
    <input class="input" type="text" name="productDimensions"
      placeholder="Introduzca las dimensiones en metros cúbicos">
  </div>
  <br>
  <br>
  <label class="label" or="productHS">Fracción Arancelaria</label>
  <div class="control">
    <input class="input" type="text" name="productHS"
      placeholder="Introduzca la fracción arancelaria generalmenete utilizada del producto">
  </div>
  <br>
  <br>
  <label class="label" or="productIVA">IVA</label>
  <div class="control">
    <input class="input" type="text" name="productIVA"
      placeholder="Introduzca la tasa que causa el producto (Impuesto al Valor Agregado)">
  </div>
  <br>
  <br>
  <label class="label" or="productIVA">IGI</label>
  <div class="control">
    <input class="input" type="text" name="productIGI"
      placeholder="Introduzca la tasa que causa el producto (Impuesto General de Importación)">
  </div>
  <br>
  <br>
  <input class="button is-primary" type="submit" value="Crear">
</form>